.description {
  display: flex;
  justify-content: space-between;
  padding: 42px 0;
  padding-bottom: 70px;
}

.description__left {
  width: 460px;
}

.description__title {
  text-transform: uppercase;
  font-family: $base-font;
  font-size: 30px;
  line-height: 30px;
  color: $black;
  font-style: normal;
  font-weight: normal;
  margin-bottom: 23px;
}

.description__company {
  margin-bottom: 26px;
}

.description__delivery {
  width: 386px;
  margin-bottom: 5px;
}

.description__company,
.description__delivery {
  font-family: $alternative-font;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
}

.description__right {
  display: flex;
  flex-direction: column;
}

.description__delivery-company {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-left: -3px;
}

.description__delivery-company-item {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 24px;
  position: relative;
  padding-left: 40px;
}

.description__delivery-company-item::after {
  content: "";
  display: block;
  position: absolute;
  width: 25px;
  height: 2px;
  background-color: $basic-red;
  top: 13px;
  left: 2px;
}

.description__more-button {
  margin-top: 20px;
  display: block;
  width: 220px;
  padding: 11px 0;
  background-color: $basic-red;
  text-decoration: none;
  text-transform: uppercase;
  color: $white;
  text-align: center;
  font-size: 14px;
  line-height: 18px;
}

.description__right-title {
  margin-bottom: 10px;
}

.description__right-info {
  font-family: $alternative-font;
  font-size: 13px;
  line-height: 24px;
  width: 181px;
  margin-bottom: 32px;
}

.description__right-button {
  display: block;
  margin-top: 25px;
  width: 300px;
  padding: 11px 0;
  background-color: $basic-red;
  text-decoration: none;
  text-transform: uppercase;
  color: $white;
  text-align: center;
  font-size: 14px;
  line-height: 18px;
}
