.footer-top {
  background-color: $blue-basic;
  padding-bottom: 50px;
}

.footer-top_wrapper {
  display: flex;
  justify-content: space-between;
}

.footer-top__contacts {
  width: 325px;
}

.footer-top__link {
  display: block;
  font-size: 18px;
  line-height: 24px;
  color: $alternative-white;
  text-decoration: none;
}

.footer-bottom {
  background-color: $black-menu;
  padding: 30px 0;
}

.footer-bottom__wrapper {
  display: flex;
  justify-content: space-between;
}

.footer-bottom__copyright {
  margin: 0;
  font-size: 16px;
  line-height: 18px;
  color: $white;
  width: 230px;
}

.footer-bottom__feedback,
.footer-bottom__developer {
  display: flex;
  flex-direction: column;
  color: $white;
  font-size: 16px;
  line-height: 18px;
}

.footer-bottom__link {
  text-decoration: none;
  color: $yellow-footer;

  &:hover {
    text-decoration: underline;
  }

  &:focus {
    color: $basic-red;
    text-decoration: none;
  }
}
