.page-header {
  background: url("../img/top-background.png");
  padding-bottom: 61px;
}

.page-header__link {
  color: inherit;
  text-decoration: none;

  &:hover .page-header__icon {
    opacity: 1;
  }

  &:focus {
    opacity: 0.3;
  }
}

.page-header__input-search {
  border: none;
  padding-left: 43px;
  background-image: url("/img/icon-search-opacity.png");
  background-color: $black-menu;
  background-repeat: no-repeat;
  background-position-x: 16px;
  background-position-y: 12px;
  font-size: 18px;
  line-height: 24px;
  color: $black;

  &:hover {
    background-image: url("/img/icon-search.png");
  }

  &:focus {
    outline: none;
    background-color: $white;
    background-image: url("/img/icon-search-red.png");
  }

  &:focus::-webkit-input-placeholder {
    color: transparent;
  }

  &:focus::-moz-placeholder {
    color: transparent;
  }

  &:focus:-moz-placeholder {
    color: transparent;
  }

  &:focus:-ms-input-placeholder {
    color: transparent;
  }
}

.page-header__input-search::-webkit-input-placeholder {
  font-family: $base-font;
  font-size: 18px;
  line-height: 24px;
  color: $white;
}

.page-header__input-search:-moz-placeholder {
  font-family: $base-font;
  font-size: 18px;
  line-height: 24px;
  color: $white;
}

.page-header__link_bookmarks {
  align-self: stretch;
  padding-top: 10px;
  display: flex;
  align-items: baseline;

  &:focus {
    background: $focus-black;
    outline: none;
  }
}

.page-header__bookmarks-counter {
  margin-left: 5px;
}

.page-header__icon {
  opacity: 0.3;
}

.page-header__logo {
  display: flex;
  background-image: url("/img/header-logo.svg");
  width: 220px;
  height: 47px;
  background-repeat: no-repeat;
  position: absolute;
  left: -2px;

  &:focus {
    background-image: url("/img/header-logo-click.png");
    outline: none;
  }
}

.page-header__top-menu {
  background-color: $black-menu;
  color: $white;
  min-height: 30px;
}

.page-header__top-menu-list {
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  font-size: 18px;
  line-height: 24px;
}

.page-header__top-menu-item {
  display: flex;
  align-items: center;
}

.page-header__search-from {
  align-self: stretch;
  display: flex;
}

.page-header__top-menu-item_search {
  margin-left: 218px;
  align-self: stretch;
  display: flex;
  width: 265px;
}

.page-header__top-menu-item_bookmarks {
  width: 159px;
  display: flex;
  justify-content: center;
  align-self: stretch;
}

.page-header__top-menu-item_basket {
  margin-left: 22px;
}

.page-header__top-menu-item_place-order-button {
  margin-left: 26px;
  background-color: $order-green;
  padding: 9px 19px;

  &:hover {
    background-color: $success;
  }
}

.page-header__middle {
  display: flex;
  padding-top: 45px;
  align-items: flex-start;
}

.page-header__title {
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  color: $basic-red;
  width: 211px;
  margin: 0;
  margin-left: 29px;
  margin-right: 80px;
}

.page-header__contacts {
  width: 270px;
  flex-wrap: wrap;
  margin-right: 70px;
}

.page-header__tel {
  display: block;
  color: $basic-red;
  text-decoration: none;
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  padding: 5px 34px;
  border: 3px solid $white;
  box-sizing: border-box;
  margin-bottom: 3px;
}

.page-header__address {
  display: block;
  font-size: 14px;
  line-height: 24px;
  text-decoration: none;
  color: $blue-basic;
  width: 269px;
  text-align: center;
}

.page-header__middle-button {
  display: flex;
  color: $black;
  text-decoration: none;
  font-size: 21px;
  line-height: 21px;
  background-color: $white;
  box-sizing: border-box;

  &:hover {
    color: $basic-red;
  }

  &:hover .page-header__icon-login {
    fill: $blue-hover-login;
  }

  &:focus {
    color: $grey;
  }

  &:focus .page-header__icon-login {
    fill: $grey;
  }
}

.page-header__middle-button_login {
  padding: 12px 0;
  padding-left: 19px;
  padding-right: 10px;
  width: 121px;
}

.page-header__middle-button_reg {
  padding: 12px 24px;
}

.page-header__icon-login {
  fill: $grey;
  margin-right: 7px;
}

.page-header__icon_bookmarks {
  display: block;
  margin-right: 8px;
}

.page-header__icon_basket {
  margin-right: 4px;
}

.page-header__icon-tel {
  margin-right: 11px;
}

.page-header__login-buttons {
  display: flex;
  justify-content: space-between;
  width: 284px;
}
