.social-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  width: 134px;
  justify-content: space-between;
  margin-top: 5px;
}

.social-list__link {
  background-color: $dark-blue;
  border-radius: 50%;
  width: 42px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background-color: $basic-red;
  }

  &:focus {
    background-color: $basic-red;
  }
}
