// Colors
$black-menu:#293449;
$blue-basic: #32425c;
$white: #ffffff;
$order-green: #63a63e;
$basic-red: #ee3643;
$black: #000000;
$black-extra-opacity: rgba(0, 0, 0, 0.01);
$white-opacity: rgba(255, 255 ,255 , 0.3);
$yellow-card: #ffbf47;
$blue-card: #3bbce3;
$pink-card:  #dc91d8;
$green-card: #8Ed78f;

// fonts
$base-font: "Cuprum", "Arial", sans-serif;
