// Colors
$black-menu:#293449;
$blue-basic: #32425c;
$white: #ffffff;
$alternative-white: #f3f7f9;
$order-green: #63a63e;
$success: #5fbb2d;
$basic-red: #ee3643;
$basic-red-dark: #ca2c37;
$basic-red-extra-dark: #ba2732;
$button-red: #ff5357;
$black: #000000;
$black-extra-opacity: rgba(0, 0, 0, 0.01);
$white-opacity: rgba(255, 255, 255, 0.3);
$yellow-card: #ffbf47;
$blue-card: #3bbce3;
$pink-card:  #dc91d8;
$green-card: #8ed78f;
$beige: #f9f5f0;
$grey: #eaeaea;
$grey-dark: #a9a9a9;
$grey-background: #f1f5f7;
$yellow-footer: #ffd180;
$dark-blue: #212a3a;
$focus-black: #161d29;
$focus-black-menu: #1d2739;
$white-opacity: rgba(255, 255, 255, 0.5);
$grey: #c5c5c5;
$blue-hover-login: #3d546f;
$basic-grey-light: rgba(197, 197, 197, 0.3);
$basic-grey-dark: rgba(169, 169, 169, 0.3);
$shadow-green: #367315;
$dark-green: #518534;

// fonts

$base-font: "Cuprum", "Arial", sans-serif;
$alternative-font: "PT Sans", "Arial", sans-serif;
